aiofiles==23.2.1
aioredis==2.0.1
aiosqlite==0.17.0
alembic==1.13.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.3.0
async-generator==1.10
async-timeout==4.0.3
asyncpg==0.29.0
attrs==23.2.0
autoflake==2.3.0
Babel==2.14.0
bcrypt==4.0.1
beautifulsoup4==4.12.3
billiard==4.2.0
casbin==1.36.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
cligj==0.7.2
colorama==0.4.6
cryptography==42.0.4
dnspython==2.6.1
email-validator==2.1.0.post1
environs==11.0.0
exceptiongroup==1.2.0
Faker==23.2.1
fastapi==0.109.2
fastapi-admin==1.0.4
fastapi-cache2==0.2.1
fastapi-pagination==0.12.17
fastapi-users==12.1.3
fastapi-users-db-sqlalchemy==6.0.1
fastapi_amis_admin==0.7.1
fastapi_cors==0.0.6
fastapi_user_auth==0.7.2
fastui==0.5.2
fiona==1.9.5
flower==2.0.1
geographiclib==2.0
geopandas==0.14.3
geopy==2.4.1
greenlet==3.0.3
gunicorn==21.2.0
h11==0.14.0
httpcore==1.0.4
httptools==0.6.1
httpx==0.27.0
humanize==4.9.0
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
iso8601==1.1.0
itsdangerous==2.1.2
Jinja2==3.1.3
jose==1.0.0
kombu==5.3.5
makefun==1.15.2
Mako==1.3.2
MarkupSafe==2.1.5
marshmallow==3.21.1
numpy==1.26.4
orjson==3.9.14
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.0
passlib==1.7.4
pendulum==3.0.0
pluggy==1.4.0
prometheus_client==0.20.0
prompt-toolkit==3.0.43
psycopg2-binary==2.9.9
pycparser==2.21
pydantic==2.6.1
pydantic_core==2.16.2
pyflakes==3.2.0
PyJWT==2.8.0
pypika-tortoise==0.1.6
pyproj==3.6.1
PySocks==1.7.1
pytest==8.0.1
pytest-asyncio==0.23.5
python-dateutil==2.8.2
python-dotenv==1.0.1
python-multipart==0.0.7
pytz==2024.1
pytzdata==2020.1
PyYAML==6.0.1
redis==5.0.1
requests==2.32.3
rfc3986==2.0.0
selenium==4.25.0
shapely==2.0.3
simpleeval==0.9.13
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.6
sqladmin==0.16.1
SQLAlchemy==2.0.27
sqlalchemy2-stubs==0.0.2a38
sqlalchemy_database==0.1.1
sqlmodel==0.0.16
sqlmodelx==0.0.11
starlette==0.36.3
time-machine==2.13.0
tomli==2.0.1
tornado==6.4
tortoise-orm==0.20.0
trio==0.26.2
trio-websocket==0.11.1
typing_extensions==4.9.0
tzdata==2024.1
ujson==5.9.0
urllib3==2.2.3
uvicorn==0.27.1
vine==5.1.0
watchfiles==0.21.0
wcwidth==0.2.13
websocket-client==1.8.0
websockets==12.0
wsproto==1.2.0
WTForms==3.1.2
zipp==3.17.0
